%span.nested-fields
  .field-inline
    = f.label :company_name
    = f.text_field :company_name
  .field-inline
    = f.label :work_start
    = f.date_select :work_start
  .field-inline
    = f.label :work_end
    = f.date_select :work_end
  = link_to_remove_association f do
    = material_icon.delete.md_36