%p#notice= notice
%h4.center_align 社員一覧

- @users.each do |user|
  .card
    .card-content
      .card-title
        = user.name
      %p.profile-abstract
        = user.profile&.message
    .card-action
      - if user.profile
        = link_to 'プロフィールを見る', profile_path(user.profile)
      - else
        プロフィールは作成されていません
    - if current_user.is_allowed_delete_user?
      .card-action
        = link_to 'ユーザを削除', user_path(user), method: :delete
- if current_user.is_allowed_new_user?
  .right
    = link_to new_user_path do
      = material_icon.add_circle.md_36