!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Untitled6
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.blue.nav-wrapper
      .brand-logo.center= link_to "社員紹介システム", root_path
      %ul.right#nav-mobile
        - if logged_in?
          %li= link_to current_user.name, my_profile_path
          %li= link_to "ログアウト", logout_path, method: :delete, data: {confirm: "ログアウトしますか？"}
    .container
      = yield
